<% @articlous %>
<div class="index-container">
  <% @articles_per_categorie.each_with_index do |art, index| %>
    <% if index == 0 || index == 1%>
      <div class="one" style="background-image: url(<%= art.article.image %>)">
      </div>
      <div class="two">
      <div class="like-container"> 
          <%= pluralize(art.article.votes.length, 'Like') %>
          <% if logged_in?%>
            <% art.article.votes.empty? ? like_class = 'give_dislike' : like_class = 'give_like' %>
            <%= link_to vote_path(:id => art.article.id, :category_id => art.category.id), class: "#{like_class}", method: :post   do %>
              <%= material_icon.thumb_up %>
            <% end %>
          <% end %>
      </div>
        <h3><%= art.article.title%></h3>
        <h1>By <%= art.article.author.name %></h1>
        <p><%= art.article.text.truncate(250, separator: ' ') %></p>
      </div>
    <% else %>
      <div class="two">
        <div class="like-container"> 
          <%= pluralize(art.article.votes.length, 'Like') %>
          <% if logged_in? %>
            <% art.article.votes.any? { |x| x.user_id == current_user.id}  ? like_class = 'give_like' : like_class = 'give_dislike' %>
            <%= link_to vote_path(:id => art.article.id, :category_id => art.category.id), class: "#{like_class}", method: :post   do %>
              <%= material_icon.thumb_up %>
            <% end %>
          <% end %>
        </div>
        <h3><%= art.article.title%></h3>
        <h1>By <%= art.article.author.name %></h1>
        <p><%= art.article.text.truncate(250, separator: ' ') %></p>
      </div>
      <div class="one" style="background-image: url(<%= art.article.image %>)">
      </div>
    <% end %>
  <% end %>
</div>
<%= render 'layouts/footer'%>