<% @articlous %>
<div class="index-container">
  <% @article_categories.each_with_index do |article, index| %>
    <% if index == 0 || index == 1%>
      <div class="one" style="background-image: url(<%= article.image %>)">
      </div>
      <div class="two">
        <h3><%= article.title%></h3>
        <p><%= article.text%></p>
        <%= link_to 'Vote for me', articles_path(article)%>
      </div>
    <% else %>
      <div class="two">
        <h3><%= article.title%></h3>
        <p><%= article.text%></p>
        <%= link_to 'Vote for me', articles_path(article)%>
      </div>
      <div class="one" style="background-image: url(<%= article.image %>)">
      </div>
    <% end %>
  <% end %>
</div>
<%= render 'layouts/footer'%>