<div class="new_article_container">
  <%= form_for @article, url: new_article_path do |f| %>
  <div>
    <% if @article.errors.any?%>
      <% @article.errors.full_messages.each do |error|%>
        <p> <%= error %> </p>
      <% end %>
    <% end %>
  </div>
    <%= f.label :title %>
    <%= f.text_field :title, :autofocus => true %>
    <%= f.label :content %>
    <%= f.text_area :text %>
    <%= f.label :categories%>
    <%= f.select(:categories, all_categories.collect { |c| [c.name, c.id] },
               {:include_blank => false,
               :include_hidden => false},
               { class: 'chosen-select', multiple: true}) %>
    <%= f.label :image %>
    <%= f.file_field :image %>
    <%= f.submit 'Create article' %>
  <% end %>
</div>

<script>
$('.chosen-select').chosen(
  {multiple: true,
  placeholder_text_multiple: 'Select category(s)'}
)
</script>