<div class="new_article_container">
  <%= form_for @article, url: new_article_path do |f| %>
    <%= f.label :Title %>
    <%= f.text_field :Title, :autofocus => true %>
    <%= f.label :Content %>
    <%= f.text_area :Text %>
    <%= f.label :categories%>
    <%= f.select :categories, Category.all.map { |u| [u.Name, u.id] },
               { include_blank: true },
               { class: 'chosen-select', multiple: true}%>
    <%= f.label :Image %>
    <%= f.text_field :Image %>
    <%= f.submit 'Create article' %>
  <% end %>
</div>

<script>
$('.chosen-select').chosen(
  {multiple: true,
  placeholder_text_multiple: 'Select category(s)'}
)
</script>