<div class="homepage-layout">
<% if @main_article != nil %>
    <%= link_to signin_path, class: "homepage-featured" do %>
      <div style="background-image: url(<%= @main_article.image %>)">
        <h2><%= @main_article.title %></h2>
        <h4><%= @main_article.text %></h4>
      </div>
    <% end %>
  <% end %>
  <% @article_categories.each_with_index do |art, index| %>
    <% class_article = 'homepage-mid' %>
    <% class_article = 'homepage-small' if index > 0 %>
      <%= link_to articles_path(:id => art.category.id), class:"#{class_article} scan-hover", method: :post do %>
        <div style="background-image: url(<%= art.article.image %>)">
          <h4><%= art.category.name %></h4>
          <h6><%= art.article.title %></h6>
        </div>
      <% end %>
    <% end %>
</div>