<nav class='nav'>
  <div class='nav-div-logo'>
    <%= link_to root_path, class:'darken-4 btn-flat' do %>
      <img src=<%= image_path('logo.png', :cloud_name => 'kalavhan') %>>
    <% end %>
  </div>
  <div class='nav-div-links'>
    <ul>
      <li><%= link_to "HOME", root_path, class: "#{ @home_link }" %></li>
      <% if logged_in? %>
        <li><%= link_to "NEW ARTICLE", new_article_path, class: "#{ @new_article_link }" %></li>
      <% end %>
    <ul>
  </div>
  <div class='nav-div-user'>
  <% if logged_in? %>
    <%= link_to "Sign out", signout_path, method: :delete %>
  <% else %>
    <%= link_to "LOGIN", signin_path, class: "#{ @signin_link }" %>
    &nbsp;|&nbsp;
    <%= link_to "REGISTER", signup_path, class: "#{ @signup_link }" %>
  <% end %>
  </div>
</nav>