<nav class='nav'>
  <div class='nav-div-logo'>
    <%= link_to root_path, class:'darken-4 btn-flat' do %>
      <img src='assets/logo.png'>
    <% end %>
  </div>
  <div class='nav-div-links'>
    <ul>
      <li><%= link_to "Home", root_path, class: "#{ @home_link }" %></li>
      <li>Write Article</li>
    <ul>
  </div>
  <div class='nav-div-user'>
  <% if logged_in? %>
    <%= link_to "Sign out", signout_path, method: :delete %>
  <% else %>
    <%= link_to "Sign in", signin_path, class: "#{ @signin_link }" %>
    &nbsp;|&nbsp;
    <%= link_to "Sign up", signup_path, class: "#{ @signup_link }" %>
  <% end %>
  </div>
</nav>